<div class="wrap">
  <%= paginate(@songs) %>
</div>


  <% @songs.each do |song| %>
    <div class="product">
      <div class="overlay">
        <h4><%= song.title %></h4>
        <p class="artist"><%= song.artist.name  if song.artist %></p>
        <p class="city"><%= song.city.name if song.city %></p>
      </div>
      <img src="https://unsplash.it/640/640/?random">
    </div>
  <% end %>
</div>
<div class="wrap">
  <%= paginate(@songs) %>
</div>
